<!DOCTYPE html>
<html>
<head>
  <title>Student Info</title>
</head>
<body>
  <h1><%= @student['name'] %></h1>
  <p>ID: <%= @student['id'] %></p>
  <p>Age: <%= @student['age'] %></p>
  <p>Campus: <%= @student['campus'] %></p>
  <a href="/">Return to Students List</a>
</body>
</html>
