blockquote {
  border-left: 5px solid blue;
  padding: 15px;
  margin-left: 0px;
}

cite {
  display: block;
  margin-top: 10px;
}

#external-links ul {
  list-style-type: none;
  padding-left: 0px;
}

/* you're welcome to edit the
image, figure, and figcaption CSS if you'd like,
but it's optional! */
img {
  width: 100%;
}

figure {
  margin-left: 0px;
  margin-right: 0px;
}

figcaption {
  font-style: italic;
  text-align: right;
}

body {
  max-width: 960px;
  /*margin: 0 auto;*/
}

#external-links {
  width: 20%;
  display: inline-block;
  vertical-align: top;
}

main {
  width: 756px;
  display: inline-block;
}


@media only screen and (orientation: landscape) {
  img {
    width: 50%;
    height: 50%;
  }
}

@media only screen and (max-width: 800px) {
  main {
    font-size: large;
    max-width: 80%;
  }
}

