
#octopus {
  position: absolute;
  top: 200px;
  left: 500px;
  z-index: -1
}

#glasses {
  position: absolute;
  left: 545px;
  top: 300px;
}

#hat {
  position:absolute;
  left: 485px;
  top:110px

}
